<!-- toolbar for all -->
<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn"  >
  <mat-toolbar color="primary" class="navbar" >

    <span class="navbar-brand">E-Commerce</span>
  
    <span class="spacer"></span>
    &nbsp;&nbsp;
  
    <button mat-button  routerLink="/order" routerLinkActive="active"> Track Order</button>
    &nbsp;&nbsp;
    <button mat-button routerLink="/signup" routerLinkActive="active"> Register</button>
    &nbsp;&nbsp;
    <button mat-button routerLink="/login" routerLinkActive="active"> Login</button>
  </mat-toolbar>
</div>
<!-- toolbar for all ends-->

<!-- toolbar for admin-->
<div *ngIf="!isCustomerLoggedIn && isAdminLoggedIn"  >
  <mat-toolbar color="primary" class="navbar" >

    <span class="navbar-brand">E-Commerce</span>
  
    <span class="spacer"></span>
    &nbsp;&nbsp;
  
    <button mat-button  routerLink="/admin/dashboard" routerLinkActive="active"> Dashboard</button>
    &nbsp;&nbsp;
    <button mat-button  routerLink="/admin/analytics" routerLinkActive="active"> Analytics</button>
    &nbsp;&nbsp;
    <button mat-button  routerLink="/admin/category" routerLinkActive="active"> Category</button>
    &nbsp;&nbsp;
    <button mat-button  routerLink="/admin/product" routerLinkActive="active"> products</button>
    &nbsp;&nbsp;
    <button mat-button  routerLink="/admin/orders" routerLinkActive="active"> orders</button>
    &nbsp;&nbsp;
    <button mat-button  routerLink="/admin/post-coupon" routerLinkActive="active"> post-coupons</button>
    &nbsp;&nbsp;
    <button mat-button  routerLink="/admin/coupons" routerLinkActive="active"> coupons</button>
    &nbsp;&nbsp;
    <button mat-button   routerLinkActive="active" (click)="logout()"> Logout</button>
    &nbsp;&nbsp;
 
  </mat-toolbar>
</div>
<!-- toolbar for admin ends-->


<!-- toolbar for customer-->
<div *ngIf="isCustomerLoggedIn && !isAdminLoggedIn"  >
  <mat-toolbar color="primary" class="navbar" >

    <span class="navbar-brand">E-Commerce</span>
  
    <span class="spacer"></span>
    &nbsp;&nbsp;
    <button mat-button  routerLink="/customer/dashboard" routerLinkActive="active"> Dashboard</button>
    &nbsp;&nbsp;
    <button mat-button routerLink="/customer/cart" routerLinkActive="active"> Cart</button>
    &nbsp;&nbsp;
    <button mat-button routerLink="/customer/my-orders" routerLinkActive="active"> My Orders</button>
    &nbsp;&nbsp;
    <button mat-button routerLink="/customer/wishlist" routerLinkActive="active"> wishlist</button>
    &nbsp;&nbsp;
    <button mat-button routerLink="/customer/profile" routerLinkActive="active"> My profile</button>
    &nbsp;&nbsp;
    <button mat-button   routerLinkActive="active" (click)="logout()"> Logout</button>
    &nbsp;&nbsp;
  </mat-toolbar>
</div>
<!-- toolbar for customer ends-->
<router-outlet></router-outlet>
